<div class="customer-container">
  <h2>Customer List</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; let i = index">
        <ng-container *ngIf="editingIndex === i; else viewRow">
          <td><input [(ngModel)]="editedCustomer.id" type="number" /></td>
          <td><input [(ngModel)]="editedCustomer.name" /></td>
          <td><input [(ngModel)]="editedCustomer.mobile" /></td>
          <td><input [(ngModel)]="editedCustomer.address" /></td>
          <td>
            <button (click)="saveCustomer()">Save</button>
            <button (click)="cancelEdit()">Cancel</button>
          </td>
        </ng-container>

        <ng-template #viewRow>
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.mobile }}</td>
          <td>{{ customer.address }}</td>
          <td>
            <button (click)="editCustomer(i)">Edit</button>
            <button (click)="deleteCustomer(i)">Delete</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
